@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr 0fr;
}

h1 {
  color: #007782;
  font-size: 21px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
